	body {
		padding-top: 70px;
	}
	ul.pieces {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	li.piece {
		display: inline;
		float: left;
	}
	div.piece {
		width: 50px;
		height: 50px;
		background-color: gray;
		border: 1px solid black;
		margin: 5px;
		text-align: center;
		font-size: 24px;
		color: white;
		line-height: 50px;
	}
	div.piece-theirs {
		width: 50px;
		height: 50px;
		background-color: red;
		border: 1px solid black;
		margin: 5px;
		text-align: center;
		font-size: 24px;
		color: white;
		line-height: 50px;
	}
	div.piece-mine {
		width: 50px;
		height: 50px;
		background-color: blue;
		border: 1px solid black;
		margin: 5px;
		text-align: center;
		font-size: 24px;
		color: white;
		line-height: 50px;
	}
	hr {
		background-color: green;
		clear: both;
	}