@(id: Long, playerId: String)(implicit request: RequestHeader)

@main("Game %d (%s)".format(id, playerId)) {
	
	<p class="lead" id="status"></p>

	<table class="table">
		<tr><td>Me</td><td id="my-score"></td></tr>
		<tr><td><a id="oplink" href="">Opponent</a></td><td id="op-score"></td></tr>
    </table>

	<hr class="clear: left"/>

	<ul id="board" data-bind="foreach: pieces">
		<li>
			<div data-bind="text: display, click: $root.toggleSelected, css: pieceStyle"></div>
		</li>
	</ul>

	<hr/>

	<ul data-bind="foreach: selected">
		<li>
			<div data-bind="text: display, click: $root.toggleSelected, css: pieceStyle"></div>
		</li>
	</ul>

	<hr/>

	<button class="btn btn-primary" data-bind="click: submitMove, enabled: canSubmitMove, visible: isMyTurn">Submit move</button>

	<script src="@routes.Assets.at("javascripts/board.knockout.js")" type="text/javascript"></script>
	<script>
		createViewModel(@id, "@playerId");
	</script>

	<script type="text/javascript">
		var events = new EventSource("@routes.Game.subscribeSSE(id, playerId)");
		events.addEventListener('open', function() { 
			console.log("SSE open");
		});

		events.addEventListener('error', function(e) { 
			console.log('SSE onerror: ' + e);
		});

		events.addEventListener('message', function(e) { 
			console.log('SSE onmessage: ' + e.data);
			viewModel.reload();
		});
	</script>
}